<mat-card>
  <mat-card-title>test</mat-card-title>
  <mat-card-content>
    <div class="example-container">
      <form [formGroup]="dynamicForm" class="dynamic-form" (ngSubmit)="onFormSubmit()">
        <div class="row" *ngFor="let rowConfig of formConfig.controls, let i = index">

          <div [ngSwitch]="cellConfig.type" *ngFor="let cellConfig of rowConfig, let j = index">
            <div *ngSwitchCase="formControlTypes.select">
              <mat-form-field>
                <mat-select [placeholder]="cellConfig.label" #singleSelect>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Search..." noEntriesFoundLabel="No Result Found!"
                      [formControlName]="cellConfig.key"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let bank of banks" [value]="bank">
                    {{bank}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div *ngSwitchCase="formControlTypes.text">
              <mat-form-field>
                <input matInput [id]="cellConfig.key" [formControlName]="cellConfig.key"
                  [placeholder]="cellConfig.label">
                <mat-error>
                  <app-error-message [dynamicFormControl]="dynamicForm.get([cellConfig.key])"></app-error-message>
                </mat-error>
              </mat-form-field>
            </div>

            <div *ngSwitchCase="formControlTypes.datePicker">
              <mat-form-field class="date-picker">
                <input matInput [formControlName]="cellConfig.key" [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <!-- <app-error-message [dynamicFormControl]="dynamicForm.get([cellConfig.key])"></app-error-message> -->
              </mat-form-field>
            </div>
            <div *ngSwitchCase="formControlTypes.multiSelect">
              <mat-form-field>
                <mat-label>{{cellConfig.label}}</mat-label>
                <mat-select [formControlName]="cellConfig.key" multiple>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Search..." noEntriesFoundLabel="No Result Found!"
                      [formControlName]="cellConfig.key"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let food of banks" [value]="food">{{food}}</mat-option>
                </mat-select>
                <!-- <app-error-message [dynamicFormControl]="dynamicForm.get([cellConfig.key])"></app-error-message> -->
              </mat-form-field>
            </div>
          </div>
        </div>
        <button mat-raised-button color="primary">Submit</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>
