.example-container {
  display: flex;
  flex-direction: column;
}

.dynamic-form .row div {
  margin: 10px;
  display: inline-block;
}

.date-picker .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
  width: 90% !important;
}
