<form [formGroup]="dynamicForm" class="dynamic-form" (ngSubmit)="onFormSubmit()">
  <div class="row" *ngFor="let rowConfig of formConfig.controls">

    <div [ngSwitch]="cellConfig.type" *ngFor="let cellConfig of rowConfig">

      <!-- SINGLE SELECT -->


      <!-- TEXT INPUT -->
      <mat-form-field *ngSwitchCase="formControlTypes.text" class="example-full-width">
        <mat-label>{{cellConfig.label}}</mat-label>
        <input matInput [id]="cellConfig.key" [formControlName]="cellConfig.key" [placeholder]="cellConfig.label">
        <mat-error>
          <app-error-message [dynamicFormControl]="dynamicForm.get([cellConfig.key])"></app-error-message>
        </mat-error>
      </mat-form-field>

      <!-- DATE PICKER -->
      <mat-form-field class="example-full-width date-picker" *ngSwitchCase="formControlTypes.datePicker">
        <mat-label>{{cellConfig.label}}</mat-label>
        <input matInput [formControlName]="cellConfig.key" [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>
          <app-error-message [dynamicFormControl]="dynamicForm.get([cellConfig.key])"></app-error-message>
        </mat-error>
      </mat-form-field>

      <!-- MULTIPLE SELECT -->
      <app-dynamic-form-select-control (formConfig)="cellConfig" (dynamicForm)="dynamicForm"></app-dynamic-form-select-control>
      <div *ngSwitchDefault></div>
    </div>
  </div>
  <button mat-raised-button color="primary">Submit</button>
</form>
